imutils==0.5.4
joblib==1.1.0
numpy==1.22.4
opencv-python==4.6.0.66
pandas==1.5.0
pkg_resources==0.0.0
PyQt6==6.3.1
PyQt6-Qt6==6.3.2
PyQt6-sip==13.4.0
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.0.1
scipy==1.7.2
six==1.16.0
threadpoolctl==3.0.0
